@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

h1 {
  color: yellow;
  font-family: "Rock Salt", cursive;
  font-size: 150%;
}

h2 {
  color: yellow;
  font-size: medium;
}

h3 {
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 3%;
  border-radius: 5%;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 100%;
  color: white;
  line-height: 150%;
}

.encabezado {
  padding: 2px 0px;
  text-align: center;
  font-family: "Rock Salt", cursive;
  font-size: large;
}

.logo {
  width: 10%;
  margin: 10px;
}

.menu li {
  margin: 1px 20px;
  display: inline-block;
}
.menu .menu__links {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-inline: 25px;
}

.mainImage {
  width: 80%;
  border-radius: 10px;
}

.info {
  justify-content: center;
  text-align: center;
}

.ultimasNoticias {
  width: 500px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-left: px solid yellow;
  padding-inline: 20px;
  border-radius: 4px;
  display: inline-block;
  text-align: justify;
  line-height: 26px;
}

.card .ultimasNoticias a {
  text-decoration: none;
  font-weight: bold;
  color: yellow;
}

.mainvideo {
  display: inline-block;
}
.mainvideo iframe {
  border-radius: 10px;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  color: yellow;
  padding: 20px;
  text-align: center;
  padding: 40px;
}
.footer p a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: "Rock Salt", cursive;
}

.footer__icon {
  width: 30px;
}

.scale {
  transition: 0.5s;
}
.scale:hover {
  transform: scale(1.1);
}

.color {
  transition: 0.5s;
}
.color:hover {
  font-size: larger;
}

@keyframes fade-in-1 {
  0% {
    opacity: 0;
    scale: 90%;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 2;
    scale: 100%;
  }
}
.fade-in-1 {
  animation: fade-in-1 1s linear both;
}

.fade-in-top {
  animation: fade-in-top 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation-delay: 0s;
}

@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.card:nth-child(1) img {
  animation-delay: 0.2s;
}

.card:nth-child(2) img {
  animation-delay: 0.4s;
}

.nosotras {
  text-align: center;
}
.nosotras .nosotras__fotos {
  color: white;
  width: 200px;
  border-radius: 20px;
  padding: 1%;
}

.carousel {
  padding-inline: 20%;
}

.nosotras__article {
  color: white;
  width: 50%;
  margin: 40px 30px 20px 40px;
  padding: 30px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  border-left: 10px solid yellow;
  font-family: Arial, Helvetica, sans-serif;
}
.nosotras__article .integrantes {
  color: white;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  text-align: center;
}
.nosotras__article .integrantes li {
  list-style: none;
  text-align: center;
}
.nosotras__article .integrantes__foto {
  width: 15%;
  border-radius: 10%;
  margin: 10px;
}

.nosotras__article2 {
  color: white;
  width: 60%;
  margin: 40px 30px 20px 40px;
  padding: 30px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  border-right: 10px solid yellow;
  font-family: Arial, Helvetica, sans-serif;
}
.nosotras__article2 .integrantes {
  color: white;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  text-align: center;
}
.nosotras__article2 .integrantes li {
  list-style: none;
  text-align: center;
}

.music {
  text-align: center;
}

.spotify {
  width: 600px;
  display: inline-block;
}

.card {
  width: 30%;
  margin: 40px 30px 20px 40px;
  padding: 30px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  border-left: 10px solid yellow;
  background-color: black;
}
.card .card__image {
  width: 40%;
  border-radius: 100%;
}
.card .card__tittle {
  color: white;
  font-family: "Rock Salt", cursive;
}
.card .card__description {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 27px;
}

.card2 {
  width: 30%;
  margin: 40px 30px 20px 40px;
  padding: 30px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  border-right: 10px solid yellow;
  background-color: black;
}
.card2 .card__image {
  width: 40%;
  border-radius: 100%;
}
.card2 .card__tittle {
  color: white;
  font-family: "Rock Salt", cursive;
}
.card2 .card__description {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 27px;
}

.noticas {
  text-align: center;
}

.caja {
  box-sizing: border-box;
  width: 60%;
  color: yellow;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 100%;
  line-height: 30px;
  margin: 40px;
  border-radius: 1%;
  border-left: 10px solid yellow;
  display: inline-block;
}
.caja .iframe {
  display: flexbox;
  justify-content: center;
  padding-inline: 20px;
}

.caja2 {
  box-sizing: border-box;
  width: 60%;
  color: yellow;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 100%;
  line-height: 30px;
  margin: 40px;
  border-radius: 1%;
  border-right: 10px solid yellow;
  display: inline-block;
}
.caja2 .caja__imagen {
  width: 35%;
  margin: 5%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  row-gap: 1px;
  -moz-column-gap: 1%;
       column-gap: 1%;
  color: white;
  padding: 1%;
  grid-template-areas: "diana   fatima   katia" "daniela grupo1  grupo1" "grupo2  grupo2  grupo3" "grupo2  grupo2  grupo4";
}

.diana {
  grid-area: diana;
  padding: 2%;
}

.fatima {
  grid: fatima;
  padding: 2%;
}

.katia {
  grid-area: katia;
  padding: 2%;
}

.daniela {
  grid-area: daniela;
  padding: 4%;
}

.grupo1 {
  grid-area: grupo1;
}

.grupo2 {
  grid-area: grupo2;
  padding: 0.8%;
}

.grupo3 {
  grid-area: grupo3;
  padding: 1%;
}

.grupo4 {
  grid-area: grupo4;
  padding: 1%;
}

.galeria {
  text-align: center;
}
.galeria img {
  width: 100%;
  border-radius: 10px;
}

.videoclips {
  text-align: center;
  display: flexbox;
}
.videoclips iframe {
  padding: 0.5%;
  border-radius: 30px;
}

.rotate img {
  transition: 1s;
  -o-object-fit: cover;
     object-fit: cover;
}
.rotate img:hover {
  transform: rotate(2deg);
  scale: 1.2;
}

.formulario {
  text-align: center;
  padding-top: 20px;
}
.formulario .contacto {
  color: black;
  width: 42%;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10px;
  border-left: solid yellow 10px;
  border-right: solid yellow 10px;
  border-radius: 2%;
  display: inline-block;
  color: white;
}
.formulario .contacto .contacto__input {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.formulario .contacto .contacto__mensaje {
  border-radius: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.formulario .contacto .contacto__button {
  border-radius: 10px;
  padding: 1%;
}

.contacto__image {
  width: 50%;
  display: flex;
  padding-right: 8%;
  padding-top: 2%;
}

/*index*/
@media screen and (max-width: 767px) {
  .menu li {
    margin: 1% 2%;
  }
  .logo {
    width: 20%;
  }
  .mainImage {
    width: 100%;
  }
  .card-text {
    width: 95%;
  }
  .nosotras__fotos {
    width: 400px;
    border-radius: 10px;
  }
  #fotoInicios {
    width: 400px;
  }
  /*nosotras*/
  .nosotras__article {
    width: 85%;
  }
  .nosotras__article2 {
    width: 85%;
  }
  .integrantes__foto {
    width: 18%;
    margin: 1px;
  }
  .carousel {
    padding-inline: 6%;
  }
  /*musica*/
  .spotify {
    width: 380px;
    padding-left: 0px;
  }
  .card {
    width: 85%;
  }
  .card2 {
    width: 85%;
  }
  .derecha {
    border-right: 10px solid yellow;
    border-left: 0px solid yellow;
  }
  .izquierda {
    border-left: 10px solid yellow;
    border-right: 0px solid yellow;
  }
  /*noticias*/
  .caja {
    width: 85%;
  }
  .caja p iframe {
    width: 350px;
  }
  .caja2 {
    width: 85%;
  }
  .caja2 .caja__imagen {
    width: 40%;
    margin: 2%;
  }
  .card .card-body {
    width: 85%;
  }
  /*galeria*/
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas: "diana" "fatima" "katia" "daniela" "grupo1" "grupo2" "grupo3" "grupo4";
  }
  .daniela {
    padding: 2%;
  }
  .videoclips iframe {
    width: 89%;
  }
  /*contacto*/
  .formulario {
    padding-top: 10px;
  }
  .formulario .contacto {
    width: 83%;
    padding: 0px;
  }
  .formulario .contacto__mensaje {
    width: 90%;
  }
  .formulario .float-end {
    display: none;
  }
}/*# sourceMappingURL=estilos.css.map */