.formulario {
    text-align: center;
    padding-top: 20px;

    .contacto {
        color: $background-color_1;
        width: 40%;
        font-size: 100%;
        font-family: $font-family_1;
        text-align: center;
        padding: 10px;
        border-left: solid yellow 10px;
        border-right: solid yellow 10px;
        border-radius: 2%;
        display: inline-block;
        color: $color_1;


        .contacto__input {
            color: $background-color_1;
            font-family: $font-family_1;
        }

        .contacto__mensaje {
            border-radius: 10px;
            color: $color_1;
            font-family: $font-family_1;
        }

        .contacto__button {
            border-radius: 10px;
            padding: 1%;
        }
    }
}

.contacto__image {
    width: 55%;
    display: flex;
    padding-right: 8%;
}