
.mainImage {
    width: 80%;
    border-radius: 10px;
}
.info {
	justify-content: center;
	text-align: center;
}

.card {
	.ultimasNoticias {
		a {
			text-decoration: none;
			font-weight: bold;
			color: $color_2;
		}
	}
}

