@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black
}

h1 {
    color: $color_2;
    font-family: $font-family_2;
    font-size: 150%;
}

h2 {
    color: $color_2;
    font-size:medium
}

h3 {
    color: $color_2;
    font-family: $font-family_1;
    font-weight: bold;
    padding: 3%;
    border-radius: 5%;
}

h4 {
    font-family: $font-family_1;
    font-weight: 100;
    font-size: 100%;
    color: $color_1;
    line-height: 150%;
}